node_modules/
.next/
out/
build/

.env
.env.*
!.env.example

project/
screenshots/
.playwright-mcp/
playwright-report/
test-results/
.artifacts/

*.log
*.tsbuildinfo
.DS_Store
Thumbs.db
.vscode

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
